<div class="container text-center mt-3">
  <h1>Hi, <%= @username.capitalize %>, welcome to your Dashboard</h1>
</div>

<%#= cl_image_tag(current_user.photo.key, class: "avatar-big dropdown-toggle ml-4", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
<div class="container text-center mt-3">
  <h1>Hi, <%= @username.capitalize %>, welcome to your Dashboard</h1>
</div>

<div class="container text-left mt-3">
  <h1>Your Items</h1>
</div>

<div class="container">
  <div class="card-deck">
    <% @items.last(6).each do |item| %>
      <div class="d-flex">
        <% if item.photo.attached? %>
          <% background_url = cl_image_path item.photo.key, width: 400, height: 500, crop: :fill %>
        <% else %>
          <% background_url = 'https://images.unsplash.com/photo-1585859537744-6e62df9b9a5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80' %>
        <% end %>
        <div class="item-card">
          <div class="card-img" style= "background-image:url('<%= background_url %>')"></div>
          <div class="item-card-body">
            <% if current_user && current_user.photo.attached? %>
              <%= cl_image_tag(current_user.photo.key, class: "avatar avatar-big dropdown-toggle ml-4") %>
            <% else %>
              <%= cl_image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQELeEyiMdyGS4I3hdD6rQ-1IS3zkwA7hAB0LTayKpG0wEUVBjdyA&s", class: "avatar avatar-big dropdown-toggle ml-4") %>
            <% end %>
            <div class="card_title_flex">
              <h5><%= item.name.capitalize %></h5>
            </div>
            <div class="card-footer">
              <p class="text-muted"><i class="fas fa-shopping-cart"></i> $<%= item.price %> a day</small>
            </div>
            <div class="item-card-actions">
              <%= link_to 'Edit', edit_item_path(item), class: "btn btn-dark btn-sm mr-md-3" %>
              <%= link_to "Delete item", dashboard_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div class="container">
  <div class="card-deck">
    <% @bookings.last(6).each do |booking| %>
      <div class="d-flex">
        <% if booking.photo.attached? %>
          <% background_url = cl_image_path booking.photo.key, width: 400, height: 500, crop: :fill %>
        <% else %>
          <% background_url = 'https://images.unsplash.com/photo-1585859537744-6e62df9b9a5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80' %>
        <% end %>
        <div class="booking-card">
          <div class="card-img" style= "background-image:url('<%= background_url %>')"></div>
          <div class="booking-card-body">
            <% if current_user && current_user.photo.attached? %>
              <%= cl_image_tag(current_user.photo.key, class: "avatar avatar-big dropdown-toggle ml-4") %>
            <% else %>
              <%= cl_image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQELeEyiMdyGS4I3hdD6rQ-1IS3zkwA7hAB0LTayKpG0wEUVBjdyA&s", class: "avatar avatar-big dropdown-toggle ml-4") %>
            <% end %>
            <div class="card_title_flex">
              <h5><%= booking.name.capitalize %></h5>
            </div>
            <div class="card-footer">
              <p class="text-muted"><i class="fas fa-shopping-cart"></i> $<%= booking.price %> a day</small>
            </div>
            <div class="booking-card-actions">
              <%= link_to 'Edit', edit_item_path(booking), class: "btn btn-dark btn-sm mr-md-3" %>
              <%= link_to "Delete booking", dashboard_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>








