 <header id="header" class="fixed-top">
  <div class="container d-flex space-around">
    <div class="logo mr-auto">
      <h1 class="text-light"><%= link_to "CORONAMART", root_path %></h1>
    </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"> <%= link_to "Home", root_path %> </li>

    <% if user_signed_in? %>
        <li> <%= link_to "Add an item", new_item_path %> </li>
        <li class="drop-down">
         <% if current_user.photo.attached? %>
         <%= cl_image_tag(current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
         <% else %>
         <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
         <% end %>
         <ul>
          <li> <a><%= link_to "My dashboard", dashboard_index_path %> </a></li>
          <li><a>  <%= link_to "Log out", destroy_user_session_path, method: :delete %></a></li>
        </ul>
      </li>
      <% else %>
      <li> <%= link_to "Login", new_user_session_path %> </li>
      <% end %>
    </ul>
  </nav>
</div>
</header>
