<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
  <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://pngimg.com/uploads/virus/virus_PNG38.png"%>
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control " name="query" type="search" placeholder="Hand sanitizer" aria-label="Search" value="<%= params[:query] %>">
            <button class="btn btn-dark" type="submit">Search <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
</svg></button>
          </form>
          <li class="form-inline my-2 my-lg-0 ml-4">
            <%= link_to "Add an item", new_item_path, class: "btn btn-dark" %>
          </li>
          <li class="nav-item dropdown">
        <li class="nav-item dropdown">
          <%= cl_image_tag(current_user.photo.key, class: "avatar dropdown-toggle ml-4", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="btn">
          <%= link_to "Login", new_user_session_path, class: "btn btn-dark" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
