<div class="container mt-4">
  <h3><%= @item.name %></h1>
   <div class="m-3">
    <% if current_user && current_user.photo.attached? %>
    <%= cl_image_tag(current_user.photo.key, class: "avatar") %>
    <% else %>
    <%= cl_image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQELeEyiMdyGS4I3hdD6rQ-1IS3zkwA7hAB0LTayKpG0wEUVBjdyA&s", class: "avatar") %>
    <% end %>
    Item listed by Sagi Amar
  </div>
</div>


<div class="banner3" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url('<%= cl_image_path @item.photo.key, height: 300, width: 400, crop: :fill %>')">
</div>
<div class="container margin-top-negative">
	<div class="row">
		<div class="col-8">
			<div class="item-show-card">
				<h4 class="item-show-address"><%= @item.description %></h4>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card-title p-3 mb-2 bg-white text-dark border border-grey mb-3 sticky-top">
				<p class="mb-3 justify-content-center d-flex align-items-center">
					<strong>Book Now for $<%=@item.price %> per day</strong>
				</p>
				<%= simple_form_for ([@item, @booking]) do |f| %>
				<%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
				<%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
				<div class="d-flex border-bottom pt-1 pb-2 justify-content-between">
					<p><strong>Total price </strong></p>
					<p><strong>$<%= @item.price %></strong></p>
				</div>
				<%= f.submit "Request Booking", class: "btn btn-dark", style: "width: 100%" %>
				<% end %>
			</div>
		</div>
	</div>
